@import url(root.css);
/*Leftside*/

body{
    background-color: var(--color2);
}
.Toppart{
    color: white;
}
.magicbtn .btn{
    height: 40vh;
}
.central .btn, .magicbtn .btn{
    border-color: var(--color1);
    color: var(--color1);
}
.central .btn:hover, .magicbtn .btn:hover{
    background-color: var(--color1);
    border-color: var(--color1);
    color: var(--color2);
}

/*Rightside*/
.rightside{
    background-color: var(--color1);
}

.changeable{
    display: none;
}
.activate{
    display: block;
}

.enter .btn{
    width: 100%;
    height: 100%;
}
.enter .btn, .btnscal .btn{
    background-color: var(--color1);
    border-color: var(--color3);
    color: var(--color3);
    transition: all 0.5s;
}
.enter .btn:hover, .btnscal .btn:hover{
    border-radius: 50px;
}

.itemdisplay{
    height: 40vh;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}
.itemdisplay .line{
    margin: 3px;
    flex: 1 0 9%;
    border: 1px solid var(--color3);
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    transition: all 0.5s;
}
.itemdisplay .line:hover, .active{
    border-radius: 20px;
    color: white;
    background-color: var(--color3);
}
.itemdisplay .line img{
    width: 100%;
    height: 90px;

}


/*Scroll Event*/
.itemdisplay::-webkit-scrollbar {
    width: 5px;
}
.itemdisplay::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .itemdisplay::-webkit-scrollbar-thumb {
    background: linear-gradient(
		to bottom, 
		rgba(208, 187, 148, 0.741) 30%,
		rgba(74, 44, 42, 0.763) 77%
	);
    outline: 1px solid slategrey;
}
/*Scroll Event*/
body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
body::-webkit-scrollbar-thumb {
    background: linear-gradient(
		to bottom, 
		rgba(208, 187, 148, 0.741) 30%,
		rgba(74, 44, 42, 0.763) 77%
	);
    outline: 1px solid slategrey;
}

